# IDE/editor files
.vscode/
.idea/
**/*~

# Mac OSX
.DS_Store
**/.DS_Store

# DFX & ICP
.dfx/
!**/declarations/

# Rust
target/

# Frontend build/install
node_modules/
dist/
.svelte-kit/

# Env files
.env
# environment variables
.env
